
h1{
    margin: 0 0 50px 0;
    font-size: 46px;
}
h2{
    margin: 0;
    font-size: 46px;
}
b{
    font-weight: 600;
}
i.brand{
    font-style: normal;
    color: #e10018;
}

@media (max-width: @screen-xs-max) {
    h1,h2{
        font-size: 32px;
    }
}
